<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091330806802-ksp3mg42ui7rohg748vvqevhngsd1f66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091330806802-ksp3mg42ui7rohg748vvqevhngsd1f66</string>
	<key>API_KEY</key>
	<string>AIzaSyDaU3aKZBzOtHlEnqn34f3dVPfM-9_vvqU</string>
	<key>GCM_SENDER_ID</key>
	<string>1091330806802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>naito.loovic.demo</string>
	<key>PROJECT_ID</key>
	<string>naito-loovic-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>naito-loovic-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091330806802:ios:384af45366bafae618b4cb</string>
</dict>
</plist>